/**
    CoreCamp shower theme created by Pavel Navalnyi (lincerone@gmail.com)
 */

/* Variables */
.shower {
    --light-slide-color: #0E193E;
    --dark-slide-color: white;

    --heading-font-size: 60px;
    --body-font-size: 25px;

    --progress-color: #0E193E;
}

/* Slides */
.slide {
    padding: 5px 100px 0;
}
.slide::before {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 80px;
    height: 50px;
    content: '';
    background-image: url('../theme/images/corecamp_logo_small_dark.png');
    background-size: contain;
    background-repeat: no-repeat;

}

/* Typography */
.slide p {
    font: normal var(--body-font-size)/2 'Helvetica Neue', serif;
}
.slide h2 {
    margin-top: 0;
    margin-left: 30px;
    font: bold var(--heading-font-size) 'Helvetica Neue', serif;
}
.slide.black {
    color: var(--dark-slide-color);
    background-color: #0e193e;
}
.slide h2,
.slide li::before,
.slide p.note {
    color: var(--light-slide-color);
}
.slide.black h2,
.slide.black li::before,
.slide.black p.note {
    color: var(--dark-slide-color);
}

/* Shout */
.slide .shout {
    margin: 0;
    font-size: 90px;
}


/* Number */
.slide::after {
    top: 0;
    bottom: auto;
    left: auto;
    right: 40px;
    color: var(--light-slide-color);
    background-image: none;
}
.slide.black::after {
    color: var(--dark-slide-color)
}
.slide.no-number::after {
    visibility: hidden;
}

/* Progress */
.progress::before {
    background: var(--progress-color);
}
